.userPopout-xaxa6l[data-user-id="651235455081250817"] .container-q03LZO::before,
.root-3QyAh1[data-user-id="651235455081250817"] .container-q03LZO::before {
    content: "";
    background: url("https://cdn.discordapp.com/avatars/812815155288473630/379bca78aa65de579ff19c99d0349363.png") center/contain no-repeat;
    margin: 0 6px 6px 0;
}
.userPopout-xaxa6l[data-user-id="651235455081250817"] .container-q03LZO::before {
    width: 18px;
    height: 18px;
}
.root-3QyAh1[data-user-id="651235455081250817"] .container-q03LZO::before {
    width: 22px;
    height: 22px;
}
