.userPopout-xaxa6l[data-user-id="651235455081250817"] .container-q03LZO::before,
.root-3QyAh1[data-user-id="651235455081250817"] .container-q03LZO::before {
    content: "";
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/92/4228_discord_bot_dev.png") center/contain no-repeat;
    margin: 1px 6px 6px 0;
}
.userPopout-xaxa6l[data-user-id="651235455081250817"] .container-q03LZO::before {
    width: 18px;
    height: 18px;
}
.root-3QyAh1[data-user-id="651235455081250817"] .container-q03LZO::before {
    width: 20px;
    height: 20px;
}
